extends layout

block content
    h1= title
    if (toShow == null)
        h2 No instance to delete
    else 
        - let itid = toShow._id
        form(id='itForm', action="/resourse/it/" + toShow._id, method="PUT")
            div.form-group
                label.itAttr(for='company') IT company
                input#company(type='text', name='company', value=toShow.company) 
            div.form-group
                label.itAttr(for='experience') it experience
                input#experience(type='text', name='experience', value=toShow.experience)
            div.form-group
                label.itAttr(for='salary') it salary
                input#salary(type='number', name='salary', value=toShow.salary)
            input(type="submit")
            div
                p IT ID: #{itid}
        script.
            document.forms['itForm'].addEventListener('submit', (event) => {
                event.preventDefault();

                fetch(event.target.action, {
                    method: 'PUT',
                    body: new URLSearchParams(new FormData(event.target)) // event.target is the form
                }).then((resp) => {
                    return resp.json(); // or resp.text() or whatever the server sends
                }).then((body) => {
                    alert("Save succeded")

                }).catch((error) => {

                    alert("Save failed " + error )
                });
            });